body {
  background: #f1f3f5;
}

.calculator {
  max-width: 420px;
  max-height: 935px;
  margin: 40px auto;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.display {
  height: 70px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  background: #f8f9fa;
  border-radius: 10px;
}

.btn-calc {
  height: 55px;
  font-size: 1rem;
  border-radius: 10px;
}

.memory-row button {
  font-size: 0.85rem;
}

.mode-row {
  font-size: 0.85rem;
  font-weight: 600;
}

.function-section,
.trig-section {
  display: none;
}

#degToggle {
  cursor: pointer;
}

#historyList {
  max-height: 150px;
  overflow-y: scroll;
  font-size: 0.9rem;
}

.dark-mode {
  background: #1e1e1e;
  color: white;
}

.dark-mode .calculator {
  background: #2c2c2c;
}

.dark-mode .history {
  background: #2c2c2c;
}

.dark-mode .display {
  background: #333;
  color: white;
}

.dark-mode .btn-light {
  background: #444;
  color: white;
  border: none;
}

.dark-mode .btn-warning {
  background: #ff9500;
  color: white;
}

.dark-mode .btn-primary {
  background: #007bff;
}

.dark-mode .text-muted {
  color: #bbb !important;
}

.dark-mode .memory-row button {
  color: #fff !important;
}

.dark-mode .mode-row span {
  color: #fff !important;
}

.dark-mode .btn-link {
  color: #ddd !important;
}
